{
  "extends": "stylelint-config-standard-scss",
  "rules": {
    "alpha-value-notation": null,
    "declaration-block-no-redundant-longhand-properties": [true, { "ignoreShorthands": ["inset", "overflow"] }]
  }
}