//
// React select
// --------------------------------------------------

.react-select-container {
	position: relative;
	flex: 1 1 0;
	min-width: 0; // Prevent overflow

	.react-select__control {
		display: flex;
		align-items: center;
		border-radius: $input-border-radius;
		transition: border $input-transition, box-shadow $input-transition;
		cursor: default;
		border: $input-border-width solid $input-border-color;
		background-color: $input-bg;
		padding: $input-btn-padding-y ($input-btn-padding-x - 4px) $input-btn-padding-y $input-btn-padding-x; // Todo: just default, handle padding with .form-control and modifier classes on .react-select.
		position: relative;

		@include state(".react-select.is-focused") {
			border: $input-border-width solid $input-focus-color;
			box-shadow: 0 0 0 2px $input-focus-color;
			outline: none;
		}
	}

	&.is-searchable.is-open {
		.react-select__control {
			cursor: text;
		}
	}

	.react-select__value-container {
		flex: 1 1 0;
		display: flex;
		align-items: center;
		min-width: 0; // Prevent overflow
		padding: 0;
	}

	.react-select__single-value {
		@include text-truncate;
		transform: none;

		&.react-select__value-container--has-value {
			@include mouse-and-bp-up(md) {
				padding-right:
					($input-btn-padding-x - 4px)
					+ $space-md;

				// Does not work => .busy body:not(.touch) …
				//.busy & {
				//	padding-right:
				//		($input-btn-padding-x - 4px)
				//		+ $space-md
				//		+ $space-md
				//		+ $input-border-width
				//		+ 1px;
				//}
			}
		}
	}

	.react-select__single-value {
		display: flex;
		align-items: center;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		padding: 0 $input-btn-padding-x;
	}

	.react-select__input {
		outline: none;
		max-width: 100%;
		overflow: hidden;

		&:empty {
			&::before {
				content: "\00a0";
			}
		}

		> input {
			border: none;
			background: none;
			padding: 0;
			font-family: inherit;
			font-size: inherit;
			font-weight: inherit;
			outline: none;
		}
	}

	.react-select__indicators {
		flex: 0 0 auto;
	}

	.react-select-arrow {
		display: block;
		width: $space-md;
		height: $space-md;
		background: image-url("icons/chevron-7.svg") no-repeat 0 0;
	}

	.react-select__menu {
		position: absolute;
		left: $input-border-width;
		top: calc(100% + #{$space-min + $input-border-width});
		right: $input-border-width;
		background-color: $menu-bg;
		border-radius: $menu-border-radius;
		z-index: $z-index-menu;
		padding: $space-min 0;
		box-shadow: $menu-box-shadow;
		background-clip: padding-box;
	}

	.react-select__menu-list {
		max-height: 10 * $line-height-large;
		overflow-y: auto;
	}

	.react-select__option,
	.react-select__noresults {
		padding: 0 $input-btn-padding-x;
		line-height: $line-height-large;
	}

	.react-select__option {
		cursor: pointer;

		&.react-select__option--is-focused {
			background-color: $menu-item-hover-bg;
		}

		&.react-select__option--is-selected {
			background-color: $menu-item-selected-bg;
		}
	}

	.react-select__noresults {
		color: $menu-no-results-color;
	}
}
